Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

Задания:

1) Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

2) Изменим регистр твитов на нижний с помощью .lower().

3) Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4) Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5) Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6) Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

7) Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

8) Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

9) Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

10) Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11) Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12) Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13) Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14) Сохраним результат предобработки в pickle-файл.

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

In [3]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [6]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

2. Изменим регистр твитов на нижний с помощью .lower()

3. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

7. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

8. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

9. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

10. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14. Сохраним результат предобработки в pickle-файл.

Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию:
для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
для для замены @user на пробел, необходимо использовать re.sub()

In [7]:
def funk_del(input_txt):
    pattern = "@[\w]*"
    if re.findall(pattern, input_txt):
        return re.sub(pattern, ' ', input_txt)
    else:
        return re.sub(pattern, ' ', input_txt)

In [8]:
train_df.tweet = train_df.tweet.apply(funk_del)

In [9]:
train_df.head()

   id  label                                              tweet
0   1      0     when a father is dysfunctional and is so se...
1   2      0      thanks for #lyft credit i can't use cause ...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

Изменим регистр твитов на нижний с помощью .lower()

In [10]:
train_df['tweet'] = train_df.tweet.str.lower()

In [11]:
train_df.head()

   id  label                                              tweet
0   1      0     when a father is dysfunctional and is so se...
1   2      0      thanks for #lyft credit i can't use cause ...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [12]:
train_df.head()

   id  label                                              tweet
0   1      0     when a father is dysfunctional and is so se...
1   2      0      thanks for #lyft credit i can't use cause ...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [13]:
apostrophe_dict["can't"]

'cannot'

In [14]:
def funk_replace(input_txt, dict_= None):
    pattern = "'[\w]*"
    pattern_1 = '[^\w\s]'
    in_txt = input_txt.split()
    for i in in_txt:
        if dict_:
            if re.findall(pattern, i): # проверка на наличие апострофа
                if i in dict_:   # если присутствует апостроф проверка сокращения в словаре
                    input_txt = input_txt.replace(i, dict_[i]) # замена сокращения на полное слово
    #                 re.sub(i, dict_[i], input_txt)
                else:
                    input_txt = input_txt.replace(i, ' ') # если слова в словаре нету замена на пробел

            elif i in dict_: # если апострофа нету проверка в другом словаре на совпадение по ключу
                if dict_[i] == "happy" or dict_[i] == "sad": # значение ключа happy или sad замена на пробел
                    input_txt = input_txt.replace(i, " ")
                else:    
                    input_txt = input_txt.replace(i, dict_[i]) # замена на значение из словаря
                
#         elif re.findall(pattern_1, i):
#             re.sub(i, " ", input_txt)
            

    return input_txt

In [15]:
train_df.tweet[1]

"    thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked"

In [16]:
train_df.tweet = train_df.tweet.apply(lambda x : funk_replace(x,apostrophe_dict))
train_df.head()

   id  label                                              tweet
0   1      0     when a father is dysfunctional and is so se...
1   2      0      thanks for #lyft credit i cannot use cause...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [17]:
train_df.tweet = train_df.tweet.apply(lambda x : funk_replace(x,short_word_dict ))
train_df.head()

   id  label                                              tweet
0   1      0     when a father is dysfunctional and is so se...
1   2      0      thanks for #lyft credit i cannot use cause...
2   3      0                                bihday your majesty
3   4      0  #model   i love yoyou take with yoyou all the ...
4   5      0             factsguide: society now    #motivation

Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [18]:
train_df.tweet = train_df.tweet.apply(lambda x : funk_replace(x,emoticon_dict ))
train_df.head()

   id  label                                              tweet
0   1      0     when a father is dysfunctional and is so se...
1   2      0      thanks for #lyft credit i cannot use cause...
2   3      0                                bihday your majesty
3   4      0  #model   i love yoyou take with yoyou all the ...
4   5      0             factsguide: society now    #motivation

In [19]:
train_df.tweet[128]

'yeah! new buttons in the mail for me ð\x9f\x92\x96  they are so pretty!   #jewelrymaking #buttons   '

Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [20]:
train_df.tweet[1]

'    thanks for #lyft credit i cannot use cause they do not offer wheelchair vans in pdx.    #disapointed #getthanked'

In [21]:
pattern = r'[^\w\s]'
train_df['tweet'] = train_df['tweet'].apply(lambda x: re.sub(pattern, ' ', x))

In [22]:
# train_df.tweet = train_df.tweet.apply(lambda x: funk_replace(x))

In [23]:
train_df.tweet[1]

'    thanks for  lyft credit i cannot use cause they do not offer wheelchair vans in pdx      disapointed  getthanked'

Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [24]:
pattern = r'[^a-zA-Z0-9]'
train_df.tweet = train_df.tweet.apply(lambda x: re.sub(pattern, ' ', x))

In [25]:
train_df.tweet[1]

'    thanks for  lyft credit i cannot use cause they do not offer wheelchair vans in pdx      disapointed  getthanked'

Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [26]:
pattern = r'[^a-zA-Z]'
train_df.tweet = train_df.tweet.apply(lambda x: re.sub(pattern, ' ', x))

Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [27]:
train_df.tweet = train_df.tweet.apply(lambda x: ' '.join([w for w in x.split() if len(w)>1]))

In [28]:
train_df.tweet[1]

'thanks for lyft credit cannot use cause they do not offer wheelchair vans in pdx disapointed getthanked'

Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [29]:
from nltk.tokenize import word_tokenize

In [30]:
train_df['tweet_token'] = train_df.tweet.apply(lambda x: word_tokenize(x))

In [31]:
train_df.head()

,id,label,tweet,tweet_token
0,1,0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,..."
1,2,0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau..."
2,3,0,bihday your majesty,"[bihday, your, majesty]"
3,4,0,model love yoyou take with yoyou all the time ...,"[model, love, yoyou, take, with, yoyou, all, t..."
4,5,0,factsguide society now motivation,"[factsguide, society, now, motivation]"

Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [32]:
from nltk.corpus import stopwords

In [33]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\VoronkovSergey\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [34]:
stops = set(stopwords.words('english'))
print(stops)

{'because', 'how', 'yours', 'our', 'being', 'had', 'against', 'me', 'for', 'ma', 'their', 'am', 'but', 'wasn', 'no', 'here', 'was', 'which', 'is', "hadn't", "don't", 'on', 'and', 'm', "haven't", 'where', 'my', 'haven', 'doesn', 've', 'while', 'over', 'he', 'own', 'from', "aren't", 'after', 'ain', 'in', 'just', 'them', 'been', 'its', "wouldn't", 'few', 'down', 'further', 'won', 'having', 'again', 'each', 'these', 'hers', 'did', 'those', 're', 'before', 'i', 's', 'are', 'themselves', "couldn't", 'the', 'as', 'y', 'whom', 'why', 'with', 't', 'should', 'll', 'mustn', "weren't", 'shouldn', 'nor', 'an', 'your', 'under', 'below', 'both', "you're", 'any', 'between', 'ours', 'or', "mustn't", 'does', 'itself', 'there', "didn't", 'do', "shan't", "shouldn't", 'of', 'off', "you'll", 'only', 'during', 'up', 'other', 'have', 'will', "doesn't", 'what', 'same', 'aren', 'shan', 'theirs', 'all', 'to', "wasn't", 'she', 'ourselves', "needn't", 'they', 'doing', 'so', 'who', 'until', 'himself', 'into', 'that', 'it', 'you', 'herself', 'when', "isn't", 'not', 'yourself', 'couldn', 'if', "it's", 'him', 'out', 'this', 'were', "should've", 'such', 'weren', 'o', 'than', 'hasn', "that'll", 'once', 'too', "you've", 'yourselves', 'her', 'more', 'be', 'wouldn', "mightn't", 'needn', 'myself', 'then', 'above', 'we', 'now', 'his', "she's", 'mightn', 'through', 'at', 'hadn', 'most', 'didn', 'by', 'can', 'has', 'isn', 'very', 'don', "you'd", 'some', 'about', "won't", 'd', "hasn't", 'a'}

In [35]:
train_df['tweet_token_filtered'] = train_df.tweet_token.apply(lambda x: [w for w in x if w not in stops])

In [36]:
train_df[:5]

,id,label,tweet,tweet_token,tweet_token_filtered
0,1,0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
3,4,0,model love yoyou take with yoyou all the time ...,"[model, love, yoyou, take, with, yoyou, all, t...","[model, love, yoyou, take, yoyou, time, yoyour]"
4,5,0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]"

In [37]:
'when' in stops

True

Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга

In [38]:
from nltk.stem import PorterStemmer

In [39]:
ps = PorterStemmer()

In [40]:
train_df['tweet_stemmed'] = train_df.tweet_token_filtered.apply(lambda x: [ps.stem(w) for w in x])

In [41]:
train_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed
0,1,0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]"
3,4,0,model love yoyou take with yoyou all the time ...,"[model, love, yoyou, take, with, yoyou, all, t...","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]"
4,5,0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]"

Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [42]:
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import word_tokenize,pos_tag

In [43]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [44]:
lemmatizer = WordNetLemmatizer()

In [45]:
train_df['tweet_lemmatized'] = train_df.tweet_token_filtered.apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

Сохраним результат предобработки в pickle-файл.

In [46]:
train_df.to_pickle("train_df.pkl")